<aside class="left-panel">

  <!--<div class="user text-center">
    <img src="assets/images/avtar/user.png" class="img-circle" alt="...">
    <h4 class="user-name">Madiara Gassama</h4>

    <div class="dropdown user-login">
      <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-circle status-icon available"></i> Available <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-circle status-icon busy"></i> Busy</a></li>
        <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-circle status-icon invisibled"></i>
            Invisible</a></li>
        <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-circle status-icon signout"></i> Sign
            out</a></li>
      </ul>
    </div>
  </div>-->



  <nav class="navigation">
    <ul class="list-unstyled">
      <li class="active">
        <a href="/index">
          <i class="fa fa-bookmark-o"></i>
          <span class="nav-label">Dashboard</span>
        </a>
      </li>
      <li class="">
        <a href="/about/index">
          <i class="fa fa-user"></i>
          <span class="nav-label">A propos</span>
        </a>
      </li>
      <li class="">
        <a href="/information/index">
          <i class="fa fa-info"></i>
          <span class="nav-label">Information</span>
        </a>
      </li>
      <li class="">
        <a href="/language/index">
          <i class="fa fa-language"></i>
          <span class="nav-label">Langue</span>
        </a>
      </li>
      <li class="">
        <a href="/skill/index">
          <i class="fa fa-arrow-right"></i>
          <span class="nav-label">Compétence</span>
        </a>
      </li>
      <li class="">
        <a href="/tool/index">
          <i class="fa fa-arrow-right"></i>
          <span class="nav-label">Outil</span>
        </a>
      </li>
      <li class="">
        <a href="/experience/index">
          <i class="fa fa-arrow-right"></i>
          <span class="nav-label">Expérience</span>
        </a>
      </li>
      <li class="">
        <a href="/education/index">
          <i class="glyphicon glyphicon-book"></i>
          <span class="nav-label">Éducation</span>
        </a>
      </li>
      <li class="">
        <a href="/reference/index">
          <i class="fa fa-arrow-right"></i>
          <span class="nav-label">Référence</span>
        </a>
      </li>
      <li class="">
        <a href="/center-of-interest/index">
          <i class="fa fa-arrow-right"></i>
          <span class="nav-label">Centre d'intérêt</span>
        </a>
      </li>
      <li class="">
        <a href="/user/index">
          <i class="fa fa-users"></i>
          <span class="nav-label">Utilisateur</span>
        </a>
      </li>
      <li class="">
        <a href="/me/index">
          <i class="fa fa-arrow-right"></i>
          <span class="nav-label">Moi</span>
        </a>
      </li>
      <li class="">
        <a href="/resume/index">
          <i class="fa fa-arrow-right"></i>
          <span class="nav-label">CV</span>
        </a>
      </li>
      <li class="">
        <a href="/portfolio/index">
          <i class="fa fa-arrow-right"></i>
          <span class="nav-label">Portfolio</span>
        </a>
      </li>
      <li class="">
        <a href="/blog/index">
          <i class="fa fa-arrow-right"></i>
          <span class="nav-label">Blog</span>
        </a>
      </li>
    </ul>
  </nav>

</aside>
