<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Messages</h1>
    </div>

    <div class="row">
      <app-side-bar-email></app-side-bar-email>

      <div class="col-sm-9">
        <app-header-email></app-header-email>
        <hr class="clean">
        <div class="panel panel-default">
          <div class="panel-body">

            <table class="table table-hover mails">
              <tr *ngFor="let message of allMessages | searchFilter: {name: searchText}; let i=index;" [ngClass]="{'active':message.state == false}">
                <td class="mail-select">
                  <label class="cr-styled">
                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                    <i class="fa"></i>
                  </label>
                </td>
                <td class="mail-rateing">
                  <i class="fa fa-star"></i>
                </td>
                <td class="sender visible-lg visible-md">
                  <a [routerLink]="['/message/read', message._id]">{{message.name}}</a>
                </td>

                <td class="mail-content">
                  <a [routerLink]="['/message/read', message._id]">{{message.subject}}</a>
                </td>
                <td class="mail-attachment visible-lg">

                </td>
                <td class="text-right visible-lg visible-md visible-sm">
                  {{message.createdAt | date: 'dd/MM/yyyy HH:mm'}}
                </td>
              </tr>
            </table>

            <hr>

            <div class="row">
              <div class="col-xs-7">
                Showing 1 - 20 of 20
              </div>
              <div class="col-xs-5">
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
                  <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
