<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Catégories</h1>
    </div>


    <div class="row">

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Liste des catégories</div>
          <div class="panel-body">

            <table class="table table-striped no-margn">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nom</th>
                  <th class="text-right">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of allCategories">
                  <td>{{category._id}}</td>
                  <td>{{category.name}}</td>
                  <td class="text-right">
                    <a [routerLink]="['/category/read', category._id]"><button style="margin: 2%" type="button"
                        rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title="" title="">
                        <i class="glyphicon glyphicon-user"></i>
                      </button></a>
                    <a [routerLink]="['/category/edit', category._id]"><button style="margin: 2%" type="button"
                        rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                        <i class="fa fa-edit"></i>
                      </button></a>
                    <button (click)="delete(category._id)" style="margin: 2%" type="button" rel="tooltip"
                      class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
