<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Référence</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout Référence</div>
          <div class="panel-body">

            <form [formGroup]="referenceForm" novalidate role="form">

              <div class="form-group">
                <label for="userName">Nom & Prénom</label>
                <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="data.userName"
                formControlName="userName" placeholder="Nom & Prénom">
              </div>


              <div class="form-group">
                <label for="userPicture">Photo Utilisateur</label>
                <input type="file" (change)="selectFile($event)">
              </div>

              <div class="form-group">
                <label for="userEnterprise">Nom Entreprise</label>
                <input type="text" class="form-control" id="userEnterprise" name="userEnterprise" [(ngModel)]="data.userEnterprise"
                formControlName="userEnterprise" placeholder="Nom Entreprise">
              </div>

              <div class="form-group">
                <label for="content">Contenu</label>
                <textarea class="form-control" rows="5" name="content" id="content" [(ngModel)]="data.content"
                formControlName="content"></textarea>
              </div>


              <button type="submit" (click)="upload()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
