<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Compétence</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout Compétence</div>
          <div class="panel-body">

            <form [formGroup]="skillForm" novalidate role="form">
              <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" required class="form-control" id="name" name="name" [(ngModel)]="data.name" formControlName="name" placeholder="Compétence">
              </div>

              <div class="form-group">
                <label for="level">Niveau</label>
                <input type="number" required class="form-control" id="level" name="level" [(ngModel)]="data.level" formControlName="level" placeholder="10">
              </div>

              <div class="form-group">
                <label for="type">Type</label>
                <div >
                  <select class="form-control chosen-select" data-placeholder="Type" id="type" name="type" [(ngModel)]="data.type" formControlName="type">
                    <option></option>
                    <option value="circle">circle</option>
                    <option value="line">line</option>
                  </select>
                </div>
              </div>

              <button type="submit" (click)="submit()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
