<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Expérience</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout expérience</div>
          <div class="panel-body">

            <form [formGroup]="experienceForm" novalidate role="form">
              <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="data.title"
                formControlName="title" placeholder="Titre">
              </div>


              <div class="form-group">
                <label for="nameEnterprise">Logo Entreprise</label>
                <input type="file" (change)="selectFile($event)">
              </div>

              <div class="form-group">
                <label for="nameEnterprise">Nom Entreprise</label>
                <input type="text" class="form-control" id="nameEnterprise" name="nameEnterprise" [(ngModel)]="data.nameEnterprise"
                formControlName="nameEnterprise" placeholder="Nom Entreprise">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Contenu</label>
                <textarea class="form-control" rows="5" name="content" id="content" [(ngModel)]="data.content"
                formControlName="content"></textarea>
              </div>

              <div class="form-group">
                <label for="title">Date de début</label>
                <div>
                  <div class='input-group date' id="datepicker">
                    <input type='text' class="form-control" data-date-format="YYYY/MM/DD"  required id="startDate" name="startDate" [(ngModel)]="data.startDate" formControlName="startDate" placeholder="YYYY/MM/DD"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="title">Date de Fin</label>
                <div>
                  <div class='input-group date' id="datepicker-1">
                    <input type='text' class="form-control" data-date-format="YYYY/MM/DD"  required id="endDate" name="endDate" [(ngModel)]="data.endDate" formControlName="endDate" placeholder="YYYY/MM/DD"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>


              <button type="submit" (click)="upload()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
