<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Éducation</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout Expérience éducative</div>
          <div class="panel-body">

            <form [formGroup]="educationForm" novalidate role="form">
              <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="data.title"
                formControlName="title" placeholder="Entrer Titre">
              </div>

              <div class="form-group">
                <label for="schoolName">Nom École</label>
                <input type="text" class="form-control" id="schoolName" name="schoolName" [(ngModel)]="data.schoolName"
                formControlName="schoolName" placeholder="Entrer Nom de l'école">
              </div>

              <div class="form-group">
                <label for="startDate">Date de début</label>
                <div>
                  <div class='input-group date' id="datepicker">
                    <input type='text' class="form-control" data-date-format="YYYY/MM/DD"  required id="startDate" name="startDate" [(ngModel)]="data.startDate" formControlName="startDate" placeholder="YYYY/MM/DD"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="endDate">Date de Fin</label>
                <div>
                  <div class='input-group date' id="datepicker-1">
                    <input type='text' class="form-control" data-date-format="YYYY/MM/DD"  required id="endDate" name="endDate" [(ngModel)]="data.endDate" formControlName="endDate" placeholder="YYYY/MM/DD"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
              <button type="submit" (click)="submit()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
