<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Information</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout Information</div>
          <div class="panel-body">

            <form [formGroup]="informationForm" novalidate role="form">
              <div class="form-group">
                <label for="title">Nom & Prénom</label>
                <input type="text" required class="form-control" id="fullname" name="fullname" [(ngModel)]="data.fullname" formControlName="fullname" placeholder="Nom & Prénom">
              </div>

              <div class="form-group">
                <label for="title">Date de naissance</label>
                <div>
                  <div class='input-group date' id="datepicker">
                    <input type='text' class="form-control" data-date-format="YYYY/MM/DD"  required id="dateOfBirth" name="dateOfBirth" [(ngModel)]="data.dateOfBirth" formControlName="dateOfBirth" placeholder="YYYY/MM/DD"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="title">Adresse</label>
                <input type="text" required class="form-control" id="address" name="address" [(ngModel)]="data.address" formControlName="address" placeholder="Adresse">
              </div>

              <div class="form-group">
                <label for="title">Email</label>
                <input type="email" required class="form-control" id="email" name="email" [(ngModel)]="data.email" formControlName="email" placeholder="Email">
              </div>

              <div class="form-group">
                <label for="title">Téléphone</label>
                <input type="phone" required class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="data.phoneNumber" formControlName="phoneNumber" placeholder="Téléphone">
              </div>

              <button type="submit" (click)="submit()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
