<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Information</h1>
    </div>


    <div class="row">

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Liste Informations</div>
          <div class="panel-body">

            <table class="table table-striped no-margn">
              <thead>
                <tr>
                  <th>Nom & Prénom</th>
                  <th>Date de naissance</th>
                  <th>Adresse</th>
                  <th>Email</th>
                  <th>Téléphone</th>
                  <th>Date de création</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let information of allInformations">
                  <td>{{information.fullname}}</td>
                  <td>{{information.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
                  <td>{{information.address}}</td>
                  <td>{{information.email}}</td>
                  <td>{{information.phoneNumber}}</td>
                  <td>{{information.createdAt | date: 'dd/MM/yyyy'}}</td>
                  <td class="text-right">
                    <a [routerLink]="['/information/read', information._id]"><button style="margin: 2%" type="button"
                        rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title="" title="">
                        <i class="glyphicon glyphicon-user"></i>
                      </button></a>
                    <a [routerLink]="['/information/edit', information._id]"><button style="margin: 2%" type="button"
                        rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                        <i class="fa fa-edit"></i>
                      </button></a>
                    <button (click)="delete(information._id)" style="margin: 2%" type="button" rel="tooltip"
                      class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
