<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Location</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout Location</div>
          <div class="panel-body">

            <form [formGroup]="locationForm" novalidate role="form">

              <div class="form-group">
                <label for="latitude">Latitude</label>
                <input type="text" class="form-control" id="latitude" name="latitude" [(ngModel)]="data.latitude"
                formControlName="latitude" placeholder="Latitude">
              </div>

              <div class="form-group">
                <label for="longitude">Longitude</label>
                <input type="text" class="form-control" id="longitude" name="longitude" [(ngModel)]="data.longitude"
                formControlName="longitude" placeholder="longitude">
              </div>

              <div class="form-group">
                <label for="zoom">Zoom</label>
                <input type="text" class="form-control" id="zoom" name="zoom" [(ngModel)]="data.zoom"
                formControlName="zoom" placeholder="zoom">
              </div>

              <button type="submit" (click)="submit()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
