<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Centre d'intérêt</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout Centres d'intérêts</div>
          <div class="panel-body">

            <form [formGroup]="centerOfInterestForm" novalidate role="form">
              <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="data.name"
                formControlName="name" placeholder="Entrer Nom">
              </div>

              <div class="form-group">
                <label for="icon">Icone</label>
                <input type="text" class="form-control" id="icon" name="icon" [(ngModel)]="data.icon"
                formControlName="icon" placeholder="Entrer Nom Icone">
              </div>

              <button type="submit" (click)="submit()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
