<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Utilisateur</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout Utilisateur</div>
          <div class="panel-body">

            <form [formGroup]="userForm" novalidate role="form">

              <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="data.name"
                formControlName="name" placeholder="Nom">
              </div>

              <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="data.password"
                formControlName="password" placeholder="*******">
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="data.email"
                formControlName="email" placeholder="test@madiara.sn">
              </div>

              <div class="form-group">
                <label for="role">Role</label>
                <input type="text" class="form-control" id="role" name="role" [(ngModel)]="data.role"
                formControlName="role" placeholder="admin">
              </div>

              <button type="submit" (click)="submit()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
