<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Outil</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout Outil</div>
          <div class="panel-body">

            <form [formGroup]="toolForm" novalidate role="form">
              <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" required class="form-control" id="name" name="name" [(ngModel)]="data.name" formControlName="name" placeholder="Outil">
              </div>

              <div class="form-group">
                <label for="style">Style</label>
                <div >
                  <select class="form-control chosen-select" data-placeholder="Style" id="style" name="style" [(ngModel)]="data.style" formControlName="style">
                    <option></option>
                    <option value="check">check</option>
                    <option value="icon">icon</option>
                  </select>
                </div>
              </div>

              <button type="submit" (click)="submit()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
