<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Blog</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout blog</div>
          <div class="panel-body">

            <form [formGroup]="blogForm" novalidate role="form">

              <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="data.title"
                formControlName="title" placeholder="Titre">
              </div>


              <div class="form-group">
                <label for="picture">Photo</label>
                <input type="file" (change)="selectPicture($event)">
              </div>

              <div class="form-group">
                <label for="movie">Vidéo</label>
                <input type="file" (change)="selectMovie($event)">
              </div>

              <div class="form-group">
                <label for="content">Contenu</label>
                <textarea class="form-control" rows="5" name="content" id="content" [(ngModel)]="data.content"
                formControlName="content"></textarea>
              </div>

              <div class="form-group">
                <label for="dateCreated">Date de création</label>
                <div>
                  <div class='input-group date' id="datepicker">
                    <input type='text' class="form-control" data-date-format="YYYY/MM/DD"  required id="dateCreated" name="dateCreated" [(ngModel)]="data.dateCreated" formControlName="dateCreated" placeholder="YYYY/MM/DD"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="categories">Catégories</label>
                <div >
                  <select class="form-control chosen-select" data-placeholder="Type" id="categories" name="categories" [(ngModel)]="data.categories" formControlName="categories">
                    <option></option>
                    <option *ngFor="let categoy of allCategories" [value]="categoy.name">{{categoy.name}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="userId">Utilisateurs</label>
                <div >
                  <select class="form-control chosen-select" data-placeholder="Type" id="userId" name="userId" [(ngModel)]="data.userId" formControlName="userId">
                    <option></option>
                    <option *ngFor="let user of allUsers" [value]="user.id">{{user.name}}</option>
                  </select>
                </div>
              </div>


              <button type="submit" (click)="upload()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
