<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Portfolio</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout Portfolio</div>
          <div class="panel-body">

            <form [formGroup]="portfolioForm" novalidate role="form">

              <div class="form-group">
                <label for="title">Nom projet</label>
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="data.title"
                formControlName="title" placeholder="Nom projet">
              </div>

              <div class="form-group">
                <label for="customer">Nom client</label>
                <input type="text" class="form-control" id="customer" name="customer" [(ngModel)]="data.customer"
                formControlName="customer" placeholder="Nom & Prénom">
              </div>

              <div class="form-group">
                <label for="delivered">Date de livraison</label>
                <div>
                  <div class='input-group date' id="datepicker">
                    <input type='text' class="form-control" data-date-format="YYYY/MM/DD"  required id="delivered" name="delivered" [(ngModel)]="data.delivered" formControlName="delivered" placeholder="YYYY/MM/DD"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="picture">Photo</label>
                <input type="file" (change)="selectPicture($event)">
              </div>

              <div class="form-group">
                <label for="content">Description Projet</label>
                <textarea class="form-control" rows="5" name="content" id="content" [(ngModel)]="data.content"
                formControlName="content"></textarea>
              </div>

              <button type="submit" (click)="upload()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
