<div class="row">
  <div class="col-lg-9 col-xs-5">
    <div class="btn-group visible-lg-inline-block">
      <button type="button" class="btn btn-default tooltip-btn" data-toggle="tooltip" data-placement="top"
        title="Delete"><i class="fa fa-trash"></i></button>
    </div>
  </div>
  <div class="col-lg-3 col-xs-7">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="Search mail" [(ngModel)]="searchText">
      <span class="input-group-btn">
        <button class="btn btn-purple" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
</div>
