<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Information</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Modifier Information</div>
          <div class="panel-body">

            <form [formGroup]="informationForm" novalidate role="form">
              <div class="form-group">
                <label for="fullname">Nom & Prénom</label>
                <input type="text" required class="form-control" id="fullname" name="fullname" value="" [formControl]="fullname"
                formControlName="fullname">
              </div>

              <div class="form-group">
                <label for="dateOfBirth">Date de naissance</label>
                <div>
                  <div class='input-group date' id="datepicker">
                    <input type='text' class="form-control" data-date-format="YYYY/MM/DD" required id="dateOfBirth" name="dateOfBirth" value="" [formControl]="dateOfBirth"
                    formControlName="dateOfBirth"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="address">Adresse</label>
                <input type="text" required class="form-control" id="address" name="address" value="" [formControl]="address"
                formControlName="address">
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" required class="form-control" id="email" name="email" value="" [formControl]="email"
                formControlName="email">
              </div>

              <div class="form-group">
                <label for="phoneNumber">Téléphone</label>
                <input type="phone" required class="form-control" id="phoneNumber" name="phoneNumber" value="" [formControl]="phoneNumber"
                formControlName="phoneNumber">
              </div>

              <button type="submit" (click)="submit()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
