<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">
    <div class="page-header">
      <h1>A propos</h1>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">{{ about.title }}</div>
          <div class="panel-body">
            {{ about.content }}
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
