<div class="col-sm-3">
  <a href="email-compose.html" class="btn btn-danger btn-block">Envoie Email</a>
  <hr class="clean">
  <div class="panel panel-default">
    <div class="panel-body no-padd">
      <div class="list-group no-margn mail-nav">
        <a href="#" class="list-group-item on">
          <!--<span class="badge bg-blue text-white">14</span>-->
          Messages
        </a>
        <a href="#" class="list-group-item">
          <!--<span class="badge bg-yellow text-white">2</span>-->
          Messages (lu)
        </a>
        <a href="#" class="list-group-item">
          Messages (non lu)
        </a>
        <a href="#" class="list-group-item">
          Messages (supprimé)
        </a>
      </div>
    </div>
  </div>
</div>
