<div class="loading-container">
  <div class="loading">
    <div class="l1">
      <div></div>
    </div>
    <div class="l2">
      <div></div>
    </div>
    <div class="l3">
      <div></div>
    </div>
    <div class="l4">
      <div></div>
    </div>
  </div>
</div>
