<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Référence</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout Référence</div>
          <div class="panel-body">

            <form [formGroup]="meForm" novalidate role="form">

              <div class="form-group">
                <label for="name">Nom & Prénom</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="data.name"
                formControlName="name" placeholder="Nom & Prénom">
              </div>

              <div class="form-group">
                <label for="picture">Photo Utilisateur</label>
                <input type="file" (change)="selectPicture($event)">
              </div>

              <div class="form-group">
                <label for="logo">Logo Utilisateur</label>
                <input type="file" (change)="selectLogo($event)">
              </div>


              <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="data.title"
                formControlName="title" placeholder="Nom Entreprise">
              </div>

              <button type="submit" (click)="upload()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
