<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Portfolio</h1>
    </div>


    <div class="row">

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Liste portfolio</div>
          <div class="panel-body">

            <table class="table table-striped no-margn">
              <thead>
                <tr>
                  <th>Titre</th>
                  <th>Photo</th>
                  <th>Client</th>
                  <th>Délivrer</th>
                  <th>Contenu</th>
                  <th class="text-right">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let portfolio of allPortfolio">
                  <td>{{portfolio.title}}</td>
                  <td>{{portfolio.picture | slice:29}}</td>
                  <td>{{portfolio.customer}}</td>
                  <td>{{portfolio.delivered}}</td>
                  <td>{{portfolio.content}}</td>
                  <td class="text-right">
                    <a [routerLink]="['/portfolio/read', portfolio.id]"><button style="margin: 2%" type="button"
                        rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title="" title="">
                        <i class="glyphicon glyphicon-user"></i>
                      </button></a>
                    <a [routerLink]="['/portfolio/edit', portfolio.id]"><button style="margin: 2%" type="button"
                        rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                        <i class="fa fa-edit"></i>
                      </button></a>
                    <button (click)="delete(portfolio.id)" style="margin: 2%" type="button" rel="tooltip"
                      class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
