<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>Messages</h1>
    </div>

    <div class="row">
      <app-side-bar-email></app-side-bar-email>

      <div class="col-sm-9">
        <app-header-email></app-header-email>
        <hr class="clean">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row">
              <div class="col-lg-11">
                <h4 class="no-margn">{{message.subject}}</h4>
              </div>
            </div>

            <hr class="sm">

            <div class="row">
              <div class="col-lg-6">
                <img src="assets/images/avtar/user.png" class="img-circle" alt="..." width="30">
                <span class="form-control-static"> {{message.name}} <span
                    class="text-gray">&lt;{{message.email}}&gt;</span></span>
              </div>
              <div class="col-lg-6 text-right">
                <small class="form-control-static text-gray">{{message.createdAt | date: 'dd/MM/yyyy HH:mm'}}</small>
              </div>
            </div>

            <hr class="sm">

            <p>{{message.content}}</p>

            <address>
              <strong>{{message.name}}</strong><br>
              <a href="mailto:#">{{message.email}}</a>
            </address>



          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
