<!-- Preloader -->
<!-- Component Loading -->
<app-loading></app-loading>
<!-- Preloader -->

<!-- Component Aside -->
<app-aside></app-aside>
<!-- Aside Ends-->

<section class="content">

  <!-- Component Header -->
  <app-header></app-header>
  <!-- Header Ends -->

  <div class="warper container-fluid">

    <div class="page-header">
      <h1>FAQ</h1>
    </div>


    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Ajout FAQ</div>
          <div class="panel-body">

            <form [formGroup]="faqForm" novalidate role="form">

              <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" name="name" value="" [formControl]="name"
                formControlName="name">
              </div>

              <div class="form-group">
                <label for="content">Contenu</label>
                <textarea class="form-control" rows="5" name="content" id="content" [formControl]="content"
                formControlName="content"></textarea>
              </div>

              <button type="submit" (click)="update()" class="btn btn-purple">Submit</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!-- Warper Ends Here (working area) -->

  <!-- Components Footer -->


</section>
